<h1>Search Instagram photos with a #!</h1>
<br>
<form action="<%= api_collections %>" method="post">
  <div class="form-group">
    <label for="collection_start_date">Start Date</label>
    <br>
    <input
      type="datetime"
      name="collection[start_date]"
      value="<%= @collection.start_date %>"
      id="collection_start_date">
  </div>
  <div class="form-group">
    <label for="user_email">End Date</label>
    <br>
    <input
      type="datetime"
      name="collection[end_date]"
      value="<%= @collection.end_date %>"
      id="collection_end_date">
  </div>
  <div class="form-group">
    <label for="collection_hashtag">Hashtag</label>
    <br>
    <input
      type="text"
      name="collection[hashtag]"
      value="<%= @collection.hashtag %>"
      id="collection_hashtag">
  </div>
    <input type="submit" value="Find tagged photos!">
</form>
<br>
